* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.calculator {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  width: 100%;
  height: 60px;
  background-color: rgb(192, 192, 192);
  color: #111;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calcBtn {
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}